{%load static%}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>eStartup Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css"> -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body>
{% include 'partitions/_header.html' %}



{% block content %}

{% endblock content %}

  
  
  
  
  
  
  
{%include 'partitions/_footer.html'%}  
  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js'%}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/modal-video/js/modal-video.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>
</html>