<!--==========================
    Announcements Section
  ============================-->
{% if announcements %}

  <section id="announcements" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="announcements-content">
            <div class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="top-top">
                            <h2>{{announcements.all.0.title}}</h2>
                            <p>{{announcements.all.0.text}}</p>
                            
                    </div>
                    </div>

                {% for announcements in announcements.all|slice:"1:" %}
                <div class="carousel-item">
                  <div class="top-top">          
                        <h2>{{announcements.title}}</h2>
                        <p>{{announcements.text}}</p>
                        
                  </div>
                </div>
                {% endfor %}

              </div>
{% if  announcements.all|length > 1%}
              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                    
                    
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    
                    {% for i in announcements%}
                        <li data-target="#carousel-example-generic" data-slide-to="{{announcements.counter}}"></li>
                  <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                    {% endfor %}
                    
                </ul>

              </div>
{% endif %}

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  {% endif %}